.DS_Store
wordpress/wp-content/uploads/2012/
wordpress/wp-content/uploads/2013/
wordpress/wp-content/uploads/2015/
wordpress/wp-content/uploads/2016/
wordpress/wp-content/uploads/2017/
wordpress/wp-content/uploads/2018/.idea/
