version: '3'

services:
  # Database
  db:
    image: mysql:latest
    container_name: [nombre contenedor bd]
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password

      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress

  # phpmyadmin
  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin/phpmyadmin:latest
    container_name: [nombre contenedor phpmyadmin]
    restart: always
    ports:
      - '8000:80'
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: password 

  # Wordpress
  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    container_name: [nombre contenedor wp]
    ports:
      - '8080:80'
    restart: always
    volumes: ['./wordpress:/var/www/html']
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress

volumes:
  db_data:
