@font-face {
    font-family: 'Brandon Grotesque';
    src:
        url('BrandonGrotesque-Bold.woff2') format('woff2'),
        url('BrandonGrotesque-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src:
        url('BrandonGrotesque-Regular.woff2') format('woff2'),
        url('BrandonGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src:
        url('BrandonGrotesque-Medium.woff2') format('woff2'),
        url('BrandonGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src:
        url('DINPro-Bold.woff2') format('woff2'),
        url('DINPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src:
        url('DINPro-Medium.woff2') format('woff2'),
        url('DINPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src:
        url('DINPro.woff2') format('woff2'),
        url('DINPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}